### Imports

In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlalchemy
import urllib.parse

### HTTP Request

#### store website in variable

In [5]:
website="https://www.zoopla.co.uk/for-sale/property/london/?q=london&results_sort=newest_listings&search_source=home"

#### Get Request

In [6]:
response=requests.get(website)

#### Status Code

In [7]:
response

### Soup Object

In [9]:
soup=BeautifulSoup(response.content,"html.parser")

In [11]:
#soup

### Results

In [12]:
results=soup.findAll("div",{"data-testid":"search-result"})

In [13]:
len(results)

25

### Target necessary data

- title
- address
- bed
- bath
- price
- email link
- property link

#### title

In [16]:
results[0].find("h2",{"data-testid":"listing-title"}).get_text()

'2 bed property for sale'

#### address

In [18]:
results[0].find("p",{"data-testid":"listing-description"}).get_text()

'Pendlestone Road, London E17'

#### bed

In [22]:
results[0].find("div",{"data-testid":"listing-spec"}).findChildren("div")[0].get_text()

'2'

#### bath

In [23]:
results[0].find("div",{"data-testid":"listing-spec"}).findChildren("div")[1].get_text()

'1'

#### price

In [26]:
results[0].find("p",{"class":"css-1o565rw-Text eczcs4p0"}).get_text().replace("£","")

'400,000'

#### email link

In [28]:
results[0].find("a",{"data-testid":"agent-contact-link"}).get("href")

'/for-sale/details/contact/60313691/'

#### property link

In [29]:
results[0].find("a",{"data-testid":"listing-details-link"}).get("href")

'/for-sale/details/60313691/'

### append 2 links

In [30]:
root_link="https://www.zoopla.co.uk"

#### append email link

In [34]:
email_link_partial=[]
email_link_joined=[]
for link_email in results:
    email_link_partial.append(link_email.find("a",{"data-testid":"listing-details-link"}).get("href"))
for link in email_link_partial:
    email_link_joined.append(urllib.parse.urljoin(root_link,link))

In [37]:
#email_link_joined

### Put everything together inside a For-Loop

In [44]:
title=[]
address=[]
bed=[]
bath=[]
price=[]
email_link=[]
property_link=[]
root_link="https://www.zoopla.co.uk"
for result in results:
    #title
    try:
        title.append(result.find("h2",{"data-testid":"listing-title"}).get_text())
    except:
        title.append("")
    #address
    try:
        address.append(result.find("p",{"data-testid":"listing-description"}).get_text())
    except:
        address.append("")
    #bed
    try:
        bed.append(int(result.find("div",{"data-testid":"listing-spec"}).findChildren("div")[0].get_text()))
    except:
        bed.append("")
    #bath
    try:
        bath.append(int(result.find("div",{"data-testid":"listing-spec"}).findChildren("div")[1].get_text()))
    except:
        bath.append("")
    #price
    try:
        price.append(float(result.find("p",{"class":"css-1o565rw-Text eczcs4p0"}).get_text().replace("£","").replace(",","")))
    except:
        price.append("")
    #email link
    try:
        email_link.append(urllib.parse.urljoin(root_link,result.find("a",{"data-testid":"agent-contact-link"}).get("href")))
    except:
        email_link.append("")    
    #property link
    try:
        property_link.append(urllib.parse.urljoin(root_link,result.find("a",{"data-testid":"listing-details-link"}).get("href")))
    except:
        property_link.append("")

In [47]:
#price

### Create Pandas Dataframe

In [50]:
real_estate_df=pd.DataFrame({"Title":title,"Address":address,"Bedrooms":bed,"Bathrooms":bath,"Price_£":price,"Email":email_link,"Property":property_link})

In [51]:
real_estate_df

,Title,Address,Bedrooms,Bathrooms,Price_£,Email,Property
0,2 bed property for sale,"Pendlestone Road, London E17",2,1,400000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
1,3 bed semi-detached house for sale,"Bridges Lane, Beddington, Surrey CR0",3,2,550000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
2,3 bed semi-detached house for sale,"Bridges Lane, Beddington, Surrey CR0",3,2,363500.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
3,3 bed semi-detached house for sale,"Charlotte Terrace, London N1",3,3,1500000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
4,2 bed flat for sale,"Manson Place, London SW7",2,2,1150000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
5,5 bed terraced house for sale,"Heyford Avenue, London SW8",5,3,1000000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
6,4 bed property for sale,"Lyon Meade, Stanmore HA7",4,2,770000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
7,4 bed semi-detached house for sale,"Audley Road, London NW4",4,1,830000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
8,1 bed flat for sale,"Peerless Drive, Harefield, Middlesex UB9",1,1,235000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
9,3 bed flat for sale,"Sheen Road, Richmond TW9",3,1,650000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
10,2 bed flat for sale,"Aragon Tower, Deptford SE8",2,1,450000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
11,3 bed end terrace house for sale,"Attewood Avenue, London NW10",3,1,489995.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
12,2 bed flat for sale,"Elliotts Row, London SE11",2,1,450000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
13,2 bed flat for sale,"Cloudeseley Close, Sidcup DA14",2,1,325000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
14,1 bed flat for sale,"Mill Lane, London NW6",1,1,390000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
15,1 bed flat for sale,"Red Lion Road, Surbiton KT6",1,1,325000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
16,2 bed flat for sale,"Cipher Court, Flowers Close, Dollis Hill NW2",2,2,415000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/5225...
17,2 bed flat for sale,"Blackheath Road, London SE10",2,1,560000.0,https://www.zoopla.co.uk/new-homes/details/con...,https://www.zoopla.co.uk/new-homes/details/603...
18,3 bed semi-detached house for sale,"The Rise, Hillingdon Village UB10",3,1,700000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
19,1 bed block of flats for sale,"13 Ager Avenue, Dagenham RM8",1,1,210000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/5823...
20,1 bed maisonette for sale,"College Gardens, London SW17",1,1,300000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
21,5 bed terraced house for sale,"Melford Road, London E17",5,2,625000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
22,1 bed flat for sale,"Manor Vale, Boston Manor Road, Brentford TW8",1,1,295000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
23,1 bed flat for sale,"Harbutt Road, Wembley HA9",1,1,350000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
24,2 bed detached house for sale,"Greenwich High Road, London SE10",2,2,750000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...

### Output in Excel

In [52]:
real_estate_df.to_excel("real_estate_single.xlsx",index=False)

### Part 2 - Pagination - Scrape 50 Pages

In [69]:
title=[]
address=[]
bed=[]
bath=[]
price=[]
email_link=[]
property_link=[]
root_link="https://www.zoopla.co.uk"
for i in range(1, 51):
    website="https://www.zoopla.co.uk/for-sale/property/london/?q=london&results_sort=newest_listings&search_source=home&pn="+str(i)
    response=requests.get(website)
    soup=BeautifulSoup(response.content,"html.parser")
    results=soup.findAll("div",{"data-testid":"search-result"})
    for result in results:
        #title
        try:
            title.append(result.find("h2",{"data-testid":"listing-title"}).get_text())
        except:
            title.append("")
        #address
        try:
            address.append(result.find("p",{"data-testid":"listing-description"}).get_text())
        except:
            address.append("")
        #bed
        try:
            bed.append(int(result.find("div",{"data-testid":"listing-spec"}).findChildren("div")[0].get_text()))
        except:
            bed.append(0)
        #bath
        try:
            bath.append(int(result.find("div",{"data-testid":"listing-spec"}).findChildren("div")[1].get_text()))
        except:
            bath.append(0)
        #price
        try:
            price.append(float(result.find("p",{"class":"css-1o565rw-Text eczcs4p0"}).get_text().replace("£","").replace(",","")))
        except:
            price.append(0)
        #email link
        try:
            email_link.append(urllib.parse.urljoin(root_link,result.find("a",{"data-testid":"agent-contact-link"}).get("href")))
        except:
            email_link.append("")    
        #property link
        try:
            property_link.append(urllib.parse.urljoin(root_link,result.find("a",{"data-testid":"listing-details-link"}).get("href")))
        except:
            property_link.append("")  
real_estate_multiple_df=pd.DataFrame({"title":title,"address":address,"bedrooms":bed,"bathrooms":bath,"price_£":price,"email":email_link,"property":property_link})

In [70]:
real_estate_multiple_df

,title,address,bedrooms,bathrooms,price_£,email,property
0,4 bed detached house for sale,"Connaught Road, New Malden KT3",4,1,995000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
1,3 bed terraced house for sale,"Bullsmoor Lane, Enfield, Greater London EN1",3,0,400000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6031...
2,1 bed flat for sale,"60 Neasden Lane, London NW10",1,1,135625.0,https://www.zoopla.co.uk/new-homes/details/con...,https://www.zoopla.co.uk/new-homes/details/603...
3,1 bed flat for sale,"60 Neasden Lane, London NW10",1,1,136500.0,https://www.zoopla.co.uk/new-homes/details/con...,https://www.zoopla.co.uk/new-homes/details/603...
4,2 bed flat for sale,"60 Neasden Lane, London NW10",2,1,169750.0,https://www.zoopla.co.uk/new-homes/details/con...,https://www.zoopla.co.uk/new-homes/details/603...
...,...,...,...,...,...,...,...
1245,3 bed maisonette for sale,"Crowland Road, London N15",3,0,325000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6029...
1246,Studio for sale,"Church Road, Mitcham CR4",0,0,120000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6029...
1247,1 bed flat for sale,"Whitelocke House, 2-4 Lampton Road, Hounslow TW3",1,1,310000.0,https://www.zoopla.co.uk/new-homes/details/con...,https://www.zoopla.co.uk/new-homes/details/602...
1248,20 bed flat for sale,"Claremont Close, London E16",20,0,1750000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6029...
1249,3 bed cottage for sale,"Church Road, Potters Bar EN6",3,1,525000.0,https://www.zoopla.co.uk/for-sale/details/cont...,https://www.zoopla.co.uk/for-sale/details/6029...

In [71]:
real_estate_multiple_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1250 non-null   object
 1   address    1250 non-null   object
 2   bedrooms   1250 non-null   int64
 3   bathrooms  1250 non-null   int64
 4   price_£    1250 non-null   float64
 5   email      1250 non-null   object
 6   property   1250 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 68.5+ KB

In [72]:
#remove missing data
real_estate_multiple_df.drop(real_estate_multiple_df.loc[real_estate_multiple_df["bedrooms"]==0].index, inplace=True)
real_estate_multiple_df.drop(real_estate_multiple_df.loc[real_estate_multiple_df["bathrooms"]==0].index, inplace=True)
real_estate_multiple_df.drop(real_estate_multiple_df.loc[real_estate_multiple_df["price_£"]==0].index, inplace=True)

In [73]:
real_estate_multiple_df.to_excel("real_estate_multiple.xlsx",index=False)

#### Store in PostgreSQL

In [74]:
#create sqlalchemy engine
engine=sqlalchemy.create_engine('postgresql://postgres:12345@localhost:5432')
real_estate_multiple_df.to_sql("real_estate",engine,index=False)